/*=======================
   Table formating
========================*/

.purple-row td {
    color: purple !important;
  }
  
.red-row td {
  color: red !important;
}

.blue-row td {
  color: blue !important;
}

.green-row td {
  color: green !important;
}

.orange-row td {
  color: orange !important;
}

.pink-row td {
  color: #e75480 ;
  background-color: #d3d3d3;
}

.table-bordered-custom {
  width: 100%;
  border: 1px solid rgb(150, 150, 150); /* Adjust thickness and color as needed */
  border-collapse: collapse; /* Ensures borders don't overlap */
}

.table-bordered-custom td, .table-bordered-custom th {
    border: 1px solid rgb(174, 174, 174); /* Inner cell borders */
    padding: 8px; /* Adds some padding inside the cells for better readability */
    text-align: left; /* Align text to the left (optional) */
}


/*=======================
  Price notification
========================*/

.price-notifications {
    position: sticky;
    top: 71px;
    z-index: 99;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    background-color: #f0f0f0; 
    padding: 20px;
  }
  
.price-notification {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-weight: bold;
}

.value {
  margin-top: 5px;
}
  

.text-negative {
  color: red;
}

.text-positive {
  color: rgb(2, 136, 2);
}


.text-purple-bold {
  color: rgb(107, 2, 136);
  font-weight: bold;
}


p {
  font-size: 19px;
}
